$primary-color: hsl(180, 29%, 50%);
$cyan-light: hsl(180, 52%, 96%);
$cyan-filter: hsl(180, 31%, 95%);
$cyan-dark: hsl(180, 8%, 52%);
$cyan-very-dark: hsl(180, 14%, 20%);

$font-primary: 'League Spartan', arial;
